body, html {
  height: 100%;
}

input, label {
  display: block;
  line-height: 1.6;
}

input, label {
  display: block;
  line-height: 1.6;
}

input :focus {
  border: 3px solid #020202;
}

body {
  font-family: 'Verdana';
  margin: 0;
  background-image: url("./background.jpg");
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .imagelogo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 30px;
  margin: auto;
}

body .container div#bg {
  color: rgba(231, 241, 241, 0.884);
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

body .container div#bg form#main-form {
  padding: 30px;
  border-radius: 15px;
  margin: 1em auto;
  -webkit-box-shadow: 0 10px 30px gray;
          box-shadow: 0 10px 30px gray;
  background-color: rgba(90, 94, 93, 0.493);
  width: 400px;
  border: 5px solid;
  border-width: 2px 2px 0 0;
  border-color: rgba(243, 238, 238, 0.911);
  margin-left: auto;
  margin-right: auto;
  bottom: 50%;
}

@media (max-width: 420px) {
  body .container div#bg form#main-form {
    width: 15em;
  }
}

body .container div#bg form#main-form label {
  margin-right: 10pc;
  font-size: 10px;
}

.disclaimer {
  font-weight: bold;
  color: #313b3b;
  margin-top: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 420px) {
  .disclaimer {
    margin-left: 1em;
  }
}

.submit {
  background-color: #414040;
  border: rgba(231, 241, 241, 0.884);
  color: rgba(231, 241, 241, 0.884);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 25px;
}
.modal{
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 20;
  padding: 30px;
  border-radius: 15px;
  margin: 1em auto;
  -webkit-box-shadow: 0 10px 30px gray;
          box-shadow: 0 10px 30px gray;
  background-color: rgba(90, 94, 93, 0.849);
  width: 400px;
  border: 5px solid;
  border-width: 2px 2px 0 0;
  border-color: rgba(243, 238, 238, 0.911);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row;
  
}
.modbtn{
  background-color: #414040;
  border: rgba(231, 241, 241, 0.884);
  color: rgba(231, 241, 241, 0.884);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 25px;
  height: 2em;
}
@media (max-width: 420px) {
  .modal {
    height: 8em;
    width: 12em;
  }
}
/*# sourceMappingURL=index.css.map */